
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Use min-height to ensure the container takes up the full viewport height */
    background: linear-gradient(to top left, rgba(168, 6, 6, 0.767), rgba(189, 19, 19, 0.8));
    font-family: Arial, sans-serif; /* Set your desired font-family */
    box-sizing: border-box;
}
.particles {
  position: absolute;
  inset: 0;
  z-index: -10;
}

.logo {
  width: 80%; /* Adjust this as needed for responsiveness */
  max-width: 335px;
  height: auto;
}

.content {
  text-align: center;
  color: #ffffff;
  padding: 16px;
}

.title {
  font-size: 2rem; /* Adjust font size for different screen sizes */
  margin-bottom: 16px;
}

.subtitle {
  font-size: 1.5rem; /* Adjust font size for different screen sizes */
  margin-bottom: 16px;
}

.link {
  font-size: 1rem; /* Adjust font size for different screen sizes */
}

/* Add media queries here to adjust styles for different screen sizes */
